*result.txt
/certification/constraction/result/*
/karate-test/certification/constraction/result
algo/certification/constraction/nojwt-result/*
algo/certification/constraction/result/*
algo/certification/create_table/table/ca-grqc-connected/community_0_result.json
/algo/certification/create_table/table/email-enron-connected
/algo/certification/create_table/table/fb-pages-company
/algo/certification/create_table/table/soc-slashdot



/algo/certification/every-time-construction/jwt-result-0.15-table
/algo/certification/construction/jwt-result-new-community
/algo/certification/construction/nojwt-result-new-community
/algo/certification/construction/all-jwt-result/jwt-result-0.15-table
/algo/certification/construction/all-jwt-result
/algo/certification/construction/all-jwt-result
/algo/certification/construction/all-jwt-result

# *node_community.txt
# *non-group-ng-nodes.txt
*ng_nodes.txt
# *dynamic_groups.txt
# *group-access.txt
# */group-access.txt
# group-access.txt
# *default.txt
# */default.txt
# *group.txt